
html, body {
    height: 100%;
    width: 100%;
}

body {
    padding: 0px;
    margin: 0;
    /*5be7a9*/
    /*e8e8e8*/
    background: #e8e8e8;
}

/*@font-face {*/
/*    font-family: 'Open Sans',serif;*/
/*    !*font-family: 'Open Sans';*!*/
/*    !*src: url('https://fonts.google.com/specimen/Redressed#standard-styles') format('ttf')*!*/
/*}*/


.font {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    font-family: 'Chakra Petch', sans-serif;
    /*font-family: 'Langar-Regular';*/
    font-size: 18px;
    color: #222831;
}

.border {
    border: 3px solid #1a1a1b;
    border-radius: 30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.searchOutputBlock {
    width: 500px;
    height: 150px;
    background-color: #f73859;
    margin: auto;
}

.p {
    text-color: #d84c73;
    float: right;
}

.inputField {
    width: 420px;
    height: 30px;
    float: left;
    outline: none;
    background-color: #d6e0f0;
}

.searchbutton {
    width: 80px;
    height: 30px;
    float: left;
    outline: none;
    background-color: #cad315;
}

.searchheader {
    display: flex;
    justify-content: center;
}

.image {
    float: left;
    height: 100%;
    width: 30%;
    margin-left: -3px;
    margin-top: -3px;
}

.recipename {
    margin-top: 10px;
    margin-left: 10px;
    white-space: nowrap;
    float: left;
}

.time {
    /*text-align: center;*/
    /*align-self: flex-start;*/
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 10px;
    white-space: nowrap;
    float: left;
}

.url {
    margin-top: 110px;
    margin-left: 12px;
    white-space: nowrap;
    /*text-decoration: none;*/
}

.bg {
    background-color: #222831;
}

.imageCategoryButton {

}


