/*--Global Styles--*/
/*@import url('https://fonts.googleapis.com/css?family=Fjalla+One');*/

html, body {
    height: 100%;
    width: 100%;
}

body {
    padding: 0px;
    margin: 0;
}

.searchOutputBlock {
    width: 500px;
    height: 150px;
    background-color: #f73859;
    margin: auto;
}

.inputField {
    width: 420px;
    height: 30px;
    float: left;
    outline: none;
    background-color: #d6e0f0;
}

.searchbutton {
    width: 80px;
    height: 30px;
    float: left;
    outline: none;
    background-color: #cad315;
}

.searchheader {
    display: flex;
    justify-content: center;
}

.image {
    float: left;
    height: 100%;
    width: 30%;
    margin-left: -3px;
    margin-top: -3px;
}

.recipename {
    margin-top: 10px;
    margin-left: 10px;
    white-space: nowrap;
    float: left;
}

.time {
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 10px;
    white-space: nowrap;
    float: left;
}

.url {
    margin-top: 110px;
    margin-left: 12px;
    white-space: nowrap;
}

.button {
    /*position: relative;*/
    /*display: compact;*/
    margin: 20px;
    width: 120px;
    height: 80px;
    font-size: 20px;
    font-family: 'Fjalla One', sans-serif;

    /*margin: auto;*/
    /*position: absolute;*/
    position: relative;
    left: 30%;
}

.braten{
    background-color: #ea86b6;
    border: 3px solid #e05297;
}

.braten:hover {
    box-shadow: 0 0px 10px rgba(205, 255, 252, 1), 0 0px 6px rgba(224, 82, 151, 1);
}

.braten:active {
    box-shadow: 0 0px 10px rgba(205, 255, 252, 1), 0 0px 6px rgba(224, 82, 151, 1);
}

.Suppe{
    background-color: #ffb26b;
    border: 3px solid #ff7b54;
}

.Suppe:hover {
    box-shadow: 0 0px 10px rgba(205, 255, 252, 1), 0 0px 6px rgba(255, 123, 84, 1);
}

.Suppe:active {
    box-shadow: 0 0px 10px rgba(205, 255, 252, 1), 0 0px 6px rgba(255, 123, 84, 1);
}

.fisch{
    background-color: #cdfffc;
    border: 3px solid #65d6ce;
}
.fisch:hover {
    box-shadow: 0 0px 10px rgba(205, 255, 252, 1), 0 0px 6px rgba(101, 214, 206, 1);
}
.fisch:active {
    box-shadow: 0 0px 10px rgba(205, 255, 252, 1), 0 0px 6px rgba(101, 214, 206, 1);
}

.vegetarisch{
    background-color: #adce74;
    border: 3px solid #61b15a;
}

.vegetarisch:hover {
    box-shadow: 0 0px 10px rgba(205, 255, 252, 1), 0 0px 6px rgba(97, 177, 90, 1);
}
.vegetarisch:active {
    box-shadow: 0 0px 10px rgba(205, 255, 252, 1), 0 0px 6px rgba(97, 177, 90, 1);
}

.border {
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);*/
    border-width: 4px ;
}


