.my-container{
    /*border: 3px solid red;*/
}

.my-row {
    /*margin-top: 40px;*/
    /*border: 3px dotted greenyellow;*/
}

.my-col {
    margin-top: 40px;
    /*border: 3px solid black;*/
}

.badge-background {
    background-color: #f05454;
}

.card {
    background-color: #f6f5f5;
    border: none;
}

.description {

}

.cardy-img {
    max-width:100%;
    height:auto
}

.card-title {
    margin-bottom: 0px;
}

/*prevents images form breaking the layout that are too high */
.card-img-top {
    max-width: 100%;
    height: 30vh;
}